.text-field {
    position: relative;
  }
  
  .text-field input {
    display: inline-block;
    border-radius: 10px;
    border: 1px solid #e2e8f0;
  }
  
  .text-field input:focus {
    background-color: #fff;
  }
  
  .text-field label {
    color: #999;
    pointer-events: none;
    left: 10px;
    top: 10px;
    transition: 0.2s;
  }
  .text-field input:valid {
    border: 1px solid #e2e8f0;
  }
  
  .text-field input:focus ~ div label,
  .text-field input:valid ~ div label,
  .text-field input[type="email"] ~ div label {
    top: -0.75rem;
    left: 15px;
    font-size: small;
    padding: 0 !important;
    background-color: #fff !important;
    margin-left: 3px !important;
  }
  
  .text-field textarea {
    width: 100%;
  }
  
  .text-field textarea {
    height: 30vh;
    resize: none;
  }
  
  .text-field textarea:focus {
    outline: none;
  }
  
  .text-field input:focus ~ label,
  .text-field input:valid ~ label,
  .text-field input[type="email"] ~ label {
    position: relative !important;
  }
  
  label {
    position: relative;
  }
  .text-container {
    top: 0;
    text-align: left;
    height: 1px;
    position: absolute;
  }
  
  .text-field input:focus ~ .text-container::before,
  .text-field input:valid ~ .text-container::before,
  .text-field input[type="email"] ~ .text-container::before {
    content: "";
    position: absolute !important;
    top: 10px;
    background-color: #fff;
    left: 15px;
    width: 100%;
    height: 20%;
  }